body {
  background-image: url(https://thumbs.gfycat.com/SlimyClassicAsianconstablebutterfly-max-1mb.gif);
  background-size: cover;
  color: white;
  text-align: center;
}

.jumbotron {
  background-color: inherit;
  text-align: center;
  font-size: 50px;
  color: white;
}

form {
    display: inline-block;
    text-align: center;
}

.btn {
  background-color: #FCE778;
  color: black;

}




#star-img, #wars-img {
  display: block;
  align-items: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#star-img {
  margin-bottom: -20px;
  transform: rotate(.6deg);
}

#wars-img {
  margin-top: -15px;
  transform: rotate(.5deg);
}
h2 {
  letter-spacing: 13px;
}

input, select {
  margin-right:auto;
  margin-left: auto;
  max-width: 200px;

}

label {
  display: block;
  margin-right:auto;
  margin-left: auto;
  text-align: center;
}

input, select {
  background-color: black !important;
  color: white !important;
}

ol {
  list-style: none;
}
